body {
    display: block;
    margin: 0px;
  	font-family: 'HelveticaNeue-Light';
  	height: 100%;
}

h2 {
 text-align: center
}

h1 {
	font-weight: bold;
}

.body_container {
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.email_signup {
	margin-left: 15%;
	margin-right: 15%;
}

@font-face {
   font-family: 'HelveticaNeue-Light';
   src: url('fonts/HelveticaNeue-Light.otf');
}

#mc_embed_signup{
	background:#fff; 
	clear:left; 
	padding-bottom: 1%;
}
#mc_embed_signup div#mce-responses {
	 padding-top: 0.5em;
}